h1 {
    color: lightcyan;
    background-color: black;
    text-align: center;
}

body {
    
    margin: 5px 50px 5px;
    background: url(../pic2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    margin: 25px;
    text-align: center;
}

h2 {
    text-align: center;
}
.quote {
    color: lightblue;
    background-color: black;
    text-align: center;
    
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
}

